.new
  margin 20px
  .set
    border 2px dashed #00a7bd
    padding 20px
    margin-bottom 20px
    border-radius 1vh
    .answer-part 
      display flex
      justify-self center
    .answer-title 
      font-size 24px
      font-weight bold
      color #006ce0
      margin 0 10vw
      padding-top 1vh


