@import '~src/css/quasar.variables'
.true-false
    display flex
    justify-content space-between
    align-items center
    .q-item
        width 100%
        border-radius 5px
        display flex
        justify-content center
        margin 0 5px
    .q-item__section
        padding 0
    .active
        color white
        background $secondary
        .q-icon
            color $yellow-5
