.new
  margin 20px
  .testName
    margin 2vh 12vw
  .button
    margin 2vh auto
    display flex
    justify-content center
    .saveButton
      margin 0 5vw
      padding 0 1vh
    .resetButton
      margin 0 5vw
      padding 0 1vh


