.question-part
  margin 0 10vw
  border-bottom 3px solid gray
  padding-bottom 2vh
  .question-index
    font-size 24px
    font-weight bold
    color #006ce0
  .question-image
    margin 2vh 30vw 0vh 0

