.set
  border 2px dashed #00a7bd
  padding 20px
  margin-bottom 20px
  border-radius 1vh
  .question-index
    margin 0 10vw
    font-size 24px
    font-weight bold
    color #006ce0
    display flex
    justify-content space-between
    align-items center
    .question-title
      font-size 16px
      font-weight normal
      justify-self center
      color #585858
  .question-part
    margin 0 10vw
    border-bottom 3px solid gray
    padding-bottom 2vh
    .question-image
      margin 1vh 30vw 0vh 0
  .answer-part
    display flex
    justify-self center
    .answer-type
      margin 0 10vw
      padding 2vh 0
      width 30vw
      .title
        font-size 16px
        padding-bottom .5vh
    .setting-part
      margin 0 10vw 0 5vw
      padding 2vh 0
      width 30vw
      .title
        font-size 16px
        padding-bottom .5vh
  .answer-title
    font-size 24px
    font-weight bold
    color #006ce0
    margin 0 10vw
    padding-top 1vh
    